<div class="scroll-container" data-controller="results">
    <%= render 'shared/navigation/loading_animation' if @result == 'photo' %>
    <%= render 'shared/cards/final_result_card' %>
    <div class="container result-content">

        <div class="actor-name" data-results-target="name" data-action="scroll@window->results#fixName">
            <h1>
                <%= @result["name"] %>
            </h1>
        </div>
        

        <div class="actor-details" data-results-target="details">
            <p>Born: <%= @result["birthday"] %> in <%= @result["place_of_birth"] %></p>
        </div>
        <%= render 'shared/navigation/movie_recommendations' %>
        
    </div>
    <%= render 'shared/text/biography' %>
    <%= render 'shared/buttons/biography_modal' %>
</div>
    <%= render 'shared/navigation/footer' %>
