<div class="background-gradient">

    <div class="container container-home-page scroll-container">
        <% if @query.empty? %>
            <!-- if there isn't any search in the parameters -->
            <%= render "shared/text/main_title" %>
            
            <div> 
                <%= render "shared/forms/movie_input" %>
                <%= render "shared/forms/image_upload" %>
            </div>


                <p class="tag-line">
                    Write down a movie name or upload an actor's picture and we'll find their name for you !
                </p>

        <% else %>
                    <!-- if there already has been movie input -->
                    <div id="movie-card-section" data-cable-id="<%= params[:search][:queries] %>">
                        <%= render "shared/cards/movie_cards" %>
                    </div>
            
                    <%= render 'shared/forms/movie_input' %>
                    
                    <div id="cast-section" data-cable-id="<%= params[:search][:queries] %>">
                        <%= render 'shared/cards/cast_cards' %>
                    </div>

                    <div id="movie-recommendation-section" data-cable-id="<%= params[:search][:queries] %>">
                    <%# content will be injected through websocket %>
                    </div>

        <% end %>
    </div>

    <% if @query.empty? %>
        <div class="cover"></div>
    <% end %>

</div>
