<div class="background-gradient">
    <div class="container container-home-page scroll-container">
        <% if @query.empty? %>
            <!-- if there isn't any search in the parameters -->
            <%= render "shared/text/main_title" %>
           <div> <%= render "shared/forms/movie_input" %>
            <%= render "shared/forms/image_upload" %></div>

            <p class="tag-line">
                Give us a movie they played in or a picture and we will tell you!
            </p>

        <% else %>
            <!-- if there already has been movie input -->
            <%= render "shared/cards/movie_cards" %>

            <%= render "shared/forms/movie_input" %>

            <%= render "shared/cards/cast_cards" %>
        <% end %>

    </div>
</div>